In [1]:
import pandas as pd
import numpy as np

In [2]:
users = pd.read_csv('data/df_users.csv')
sales = pd.read_csv('data/df_sales.csv')

`users` file contains information about users. The file contains three columns

> `user_id`<br>
> `gender`<br>
> `age`

For example, the user with ID `2481878` is `26` years old and has gender `0`. All users in the table are unique

In [3]:
users.head(3)

   user_id  gender  age
0  2481878       0   26
1  5939953       1   21
2  6805236       0   23

`sales` file stores information about users' purchases. 

The `sales` file contains three columns
> `user_id` <br>
> `day` – day on which the user's purchase was made <br>
> `sales` – amount of the transaction made by the user `user_id` in `day`

For example, a user with the identifier `4137940` on day `39` made a purchase for `276` units

In [4]:
sales.head(3)

   user_id  day  sales
0  4137940   39    276
1  3692244    5     30
2  3527743   32    363

`users` and `sales` files have a common `user_id` key